#root, html, body {
    margin:0;
    padding:0;
    height:100vh;
    box-sizing: border-box;
}

.app{
    display:flex;
    background : url("./images/view.jpg");
    justify-content: center;
    text-align: center;
    background-position: center;
    align-items: center;
    height:100%;
    background-size: cover;
}


